// Variables

// Colours
$black:         #000;
$white:         #fff;

$red:           #ed1b24;
$blue:          #0f75bd;
$green:         #71bf47;

$grey:          #484848;
$grey-dark:     #2a2a2a;


// Fonts
$font:          Arial, sans-serif;
$font-light:    'Arial Light', sans-serif;
